<template>
  <div class="errors">
    <div class="columns is-multiline is-mobile is-centered">
      <div class="column">
        <div id="errotTypeList" class="select">
           <b-select v-model="selectedError">
             <option v-for="errType in errorsTypeList" :key="errType">{{errType}}</option>
           </b-select>
        </div>
      </div>
      <div class="column">
        <button class="button" @click="refreshErrorMap">Refresh Map</button>
      </div>
      <div class="column">
        <button class="button" @click="clearHistory">Clear History</button>
      </div>
    </div>
    <div class="columns">
       <div class="column is-1"/>
       <div class="column">
          <d3plot :plotData=newData :errorType=selectedError @clickedChannel="getChannelHistory" v-if="newData"></d3plot>
       </div>
       <div class="column">
          <highcharts :options="chartOptions" ref="lineCharts"></highcharts>
       </div>
       <div class="column is-1"/>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import * as mapping from './mapping.js'
import d3plot from '@/components/MyGraph.vue'

export default {
  name: 'Errors',
  components: { 'd3plot': d3plot },
  data () {
    return {
      errorsTypeList: [],
      errorsCounterList: [],
      selectedError: undefined,
      newData: [],
      chartOptions: {
        title: {text: 'history'},
        chart: {
          zoomType: 'xy'
        },
        credits: {
          enabled: false
        },
        xAxis: {
          type: 'datetime',
          dateTimeLabelFormats: {
            second: '%H:%M:%S'
          }
        },
        series: []
      }

    }
  },
  watch: {
    selectedError: function (val) {
      if (val === undefined) return
      if (val === 'bc0') this.getBc0()
      else this.getErrors(val)
    }
  },
  methods: {
    clearHistory: function () {
      while (this.chartOptions.series.length > 0) {
        this.chartOptions.series.pop()
      }
    },
    refreshErrorMap: function () {
      if (this.selectedError !== undefined) this.getErrors(this.selectedError)
    },
    getChannelHistory: function (e) {
      console.log('errors', e)
      axios.post('/api/getChannelHistory', {'errorType': this.selectedError, 'bcp': e[6], 'tower': e[3], 'channel': e[5]}).then(r => {
        console.log('test get history!', r)
        let listofpairs = []
        for (let i = 0; i < r.data['x'].length; i++) {
          listofpairs.push([r.data['x'][i] * 1000, r.data['y'][i]])
        }
        this.chartOptions.series.push({
          name: this.selectedError + ' ' + e[4],
          // color: 'rgba(0,0,0,0.5)',
          data: listofpairs,
          marker: {symbol: 'cyrcle'}
        })
      })
    },
    getErrors: function (errorType) {
      console.log('Get counters for error', errorType)
      axios.post('/api/getErrors', {'errorType': errorType}).then(r => {
        console.log('Test dummy!', r)
        this.errorsCounterList = r.data
        this.covertDataForPlot()
      })
    },
    getBc0: function () {
      axios.get('/api/getBc0').then(r => {
        console.log('Test dummy!', r)
        this.errorsCounterList = r.data
        this.covertDataForPlot()
      })
    },
    covertDataForPlot: function () {
      let tempNewData = []
      for (let bcp in this.errorsCounterList) {
        for (let tower = 0; tower < this.errorsCounterList[bcp].length; tower++) {
          for (let chNum in this.errorsCounterList[bcp][tower]) {
            let smCh = mapping.bcpChToSmCh(parseInt(bcp), parseInt(tower * 25) + parseInt(chNum))
            // console.log('bcp ', bcp, ' tower ', tower, ' chNum ', chNum, ' smCh ', smCh)
            if (smCh === undefined) {
              continue
            }
            // console.log(tower, chNum, parseInt(tower * 25) + parseInt(chNum), smCh)
            let smChIphi = mapping.smChIphi(smCh)
            let smChIeta = mapping.smChIeta(smCh)
            if (smChIeta > 60) continue // removing the MEM tower for the moment
            let newVal = 0
            if (typeof this.errorsCounterList[bcp][tower][chNum] === 'string') {
              newVal = parseInt(this.errorsCounterList[bcp][tower][chNum], 16)
            } else {
              newVal = this.errorsCounterList[bcp][tower][chNum]
              // if (newVal === -1) newVal = 0
            }
            // tempNewData.push([smChIphi, smChIeta, newVal, tower, smChIphi + '_' + smChIeta])
            tempNewData.push([smChIphi, smChIeta, newVal, tower, smChIphi + '_' + smChIeta, chNum, bcp])
          }
        }
      }
      this.newData = tempNewData
    },
    getErrorsTypeList: function () {
      console.log(this.errorsTypeList)
      axios.get('/api/getErrorsTypeList').then(r => {
        console.log(r)
        this.errorsTypeList = r.data
        this.errorsTypeList.push('bc0')
        console.log(this.errorsTypeList)
      })
    }
  },
  mounted () {
    console.log('Hello!')
    this.getErrorsTypeList()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
