<template>
  <div>
    <div id='chart'></div>
  </div>
</template>

<script>
import * as d3 from 'd3'

export default {

  props: ['plotData', 'errorType'],
  data () {
    return {
      chart: undefined,
      svg: undefined,
      tooltip: undefined,
      myxs: [],
      myys: [],
      myzs: [],
      gridSize: 12,
      plottedChannels: [],
      findXMin: undefined,
      findYMin: undefined,
      findZMax: undefined
    }
  },

  mounted () {
    // console.log(this.errorType)
    this.svg = d3.select('#chart').append('svg').attr('viewBox', '0 0 200 200')
    this.chart = this.svg.append('g').attr('transform', `translate(${10}, ${10})`)
    this.tooltip = d3.select('#chart')
    .append('div')
    .style('opacity', 0)
    .style('position', 'absolute')
    .attr('class', 'tooltip')
    .style('background-color', 'grey')
    .style('border', 'solid')
    .style('border-width', '2px')
    .style('border-radius', '5px')
    .style('padding', '5px')
  },

  watch: {
    plotData: function () {
      this.updatePlot()
    },

    plottedChannels: function () {
      // this.updatePlot()
      console.log('ciaonee')
    }
  },

  methods: {
    clearVars () {
      this.myxs.length = 0
      this.myys.length = 0
      this.myzs.length = 0
    },

    updatePlot () {
      this.clearVars()
      if (this.chart === undefined) return
      let myxstemp = []
      let myystemp = []
      let myzstemp = []
      let towers = []

      let plotDataCopy = []
      plotDataCopy = JSON.parse(JSON.stringify(this.plotData))

      for (let channel in plotDataCopy) {
        myxstemp.push(plotDataCopy[channel][0])
        myystemp.push(plotDataCopy[channel][1])
        myzstemp.push(plotDataCopy[channel][2])
        if (((plotDataCopy[channel][0]) % 5 === 0) &&
          ((plotDataCopy[channel][1] - 1) % 5 === 0)) {
          towers.push([plotDataCopy[channel][0], plotDataCopy[channel][1], plotDataCopy[channel][6]])
        }
        // adding a fifth element for each array, as a color parameter for plotting
        // 0 = GREEN
        // 1 = YELLOW
        // 2 = RED
        if (this.errorType === 'frame_error_counter' || this.errorType === 'sample_error_counter' || this.errorType === 'parity_error_counter' || this.errorType === 'crc_error_counter' || this.errorType === 'corrupted_header' || this.errorType === 'orbit_sample_err') {
            if (plotDataCopy[channel][2] === 0) {
                plotDataCopy[channel].push(0)
            } else {
                plotDataCopy[channel].push(2)
            }
        } else if (this.errorType === 'packet_counter_max') {
            if (plotDataCopy[channel][2] === 50 || plotDataCopy[channel][2] === 51 || plotDataCopy[channel][2] === 52) {
                plotDataCopy[channel].push(0)
            } else {
                plotDataCopy[channel].push(1)
            }
        } else if (this.errorType === 'packet_counter_min') {
            if (plotDataCopy[channel][2] === 50) {
                plotDataCopy[channel].push(0)
            } else {
                plotDataCopy[channel].push(1)
            }
        } else if (this.errorType === 'wr_data_count_max') {
            if (plotDataCopy[channel][2] > 32 && plotDataCopy[channel][2] < 62) {
                plotDataCopy[channel].push(0)
            } else if (plotDataCopy[channel][2] > 16 && plotDataCopy[channel][2] < 32) {
                plotDataCopy[channel].push(1)
            } else {
                plotDataCopy[channel].push(2)
            }
        } else if (this.errorType === 'rd_data_count_min') {
            if (plotDataCopy[channel][2] > 26 && plotDataCopy[channel][2] < 50) {
                plotDataCopy[channel].push(0)
            } else if (plotDataCopy[channel][2] > 13 && plotDataCopy[channel][2] < 26) {
                plotDataCopy[channel].push(1)
            } else {
                plotDataCopy[channel].push(2)
            }
        }
      }
      this.myxs = [...new Set(myxstemp)]
      this.myys = [...new Set(myystemp)]
      this.myzs = [...new Set(myzstemp)]

      this.findXMin = Math.min(...this.myxs)
      this.findYMin = Math.min(...this.myys)
      this.findXMax = Math.max(...this.myxs)
      this.findZMax = Math.max(...this.myzs)

      let newZmin = 0.1
      for (let index in this.myzs) {
        if (this.myzs[index] <= 0) continue
        newZmin = this.myzs[index] <= newZmin ? this.myzs[index] : newZmin
      }

      // Necessary for the scaler where max val cannot be smaller than min
      this.findZMax = this.findZMax <= 0 ? 0.1 : this.findZMax
      // console.log('this.findZMax', this.findZMax)
      // console.log('this.myxs', this.myxs)
      // console.log('this.myys', this.myys)
      // let myscaler = d3.scaleLog().domain([0.1, this.findZMax]).range(['green', 'red'])
      let myscaler = d3.scaleLinear().domain([0, 1, 2]).range(['green', 'yellow', 'red'])
      this.chart.selectAll('g').selectAll('rect').remove()
      console.log(towers)
      this.chart.selectAll('.towers')
        .data(towers)
        .join('g')
        .append('rect')
        .classed('towers', true)
        .attr('x', d => (d[1] - this.findYMin) * this.gridSize)
        .attr('y', d => (Math.abs((d[0] - this.findXMin) - this.findXMax) - this.findXMin) * this.gridSize)
        .attr('width', 5 * this.gridSize)
        .attr('height', 5 * this.gridSize)
        .style('fill', d => parseInt(d[2]) === 1 ? '#C39BD3' : '#7FB3D5')
        .style('stroke', '#566573')
        .style('stroke-width', '0.4')

      var cryObj = this.chart.selectAll('.cry')
        .data(plotDataCopy)
        .join('g')
        .attr('transform', d => 'translate(' + ((d[1] - this.findYMin) * this.gridSize + 1 + (this.gridSize - 2) / 2) + ',' + ((Math.abs((d[0] - this.findXMin) - this.findXMax) - this.findXMin) * this.gridSize + 1 + (this.gridSize - 2) / 2) + ')')
        // .attr('transform', d => 'translate(' + ((d[0] - this.findXMin) * this.gridSize + 1 + (this.gridSize - 2) / 2) + ',' + ((d[0] - this.findYMin) * this.gridSize + 1 + (this.gridSize - 2) / 2) + ')')
      cryObj.append('rect')
        .classed('cry', true)
        .attr('x', -(this.gridSize - 2) / 2)
        .attr('y', -(this.gridSize - 2) / 2)
        .attr('width', this.gridSize - 2)
        .attr('height', this.gridSize - 2)
        .style('fill', d => myscaler(d[d.length - 1]))

        cryObj.on('mouseleave', (event, d) => {
            this.tooltip
            .style('opacity', 0)
            d3.select(event.currentTarget).style('stroke', 'none')
        })
        .on('mouseover', (event, d) => {
          this.tooltip
          .style('opacity', 1)
          .html('Tower : ' + d[3] + '<br> phi,eta: ' + d[0] + ',' + d[1] + '<br>Value : ' + d[2] + '<br>Ch: ' + d[5])
          .style('left', (event.pageX + 30) + 'px')
          .style('top', (event.pageY + 60) + 'px')
          d3.select(event.currentTarget).style('stroke', 'orange')
        })
        .on('click', (event, d) => {
          let pos = this.plottedChannels.indexOf(d[4])
          if (pos !== -1) {
            this.plottedChannels.splice(pos, 1)
          } else {
            this.plottedChannels.push(d[4])
          }
          this.$emit('clickedChannel', d)
        })

        cryObj.append('text')
        .classed('textcry', true)
        .text(d => d[5])
        .attr('dominant-baseline', 'central')
        .style('text-anchor', 'middle')
        .style('fill', 'black')
        .attr('font-size', 3)

        // From https://observablehq.com/@garylevin/heatmap
        // Build X scales and axis:
      this.chart.selectAll('.myx')
        .data(this.myxs)
        .enter().append('text')
        .text(d => d)
        .classed('myx', true)
        .attr('y', (d) => (Math.abs((d - this.findXMin) - this.findXMax) - this.findXMin) * this.gridSize)
        .attr('x', 0)
        .attr('dominant-baseline', 'central')
        .style('text-anchor', 'middle')
        .style('fill', 'black')
        .attr('font-size', 5)
        .attr('transform', 'translate(-5,' + this.gridSize / 2 + ')')
      // Build Y scales and axis:
      this.chart.selectAll('.myy')
        .data(this.myys)
        .enter().append('text')
        .text(d => d)
        .classed('myy', true)
        .attr('y', 0)
        .attr('x', (d) => (d - this.findYMin) * this.gridSize)
        .style('text-anchor', 'middle')
        .style('fill', 'black')
        .attr('font-size', 5)
        .attr('transform', 'translate(' + this.gridSize / 2 + ', -2)')
    }

  }
}

</script>

<style scoped>
.tooltip {
  font-family: 'Raleway';
  font-size: 1.2em;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 10px 20px;
  border-radius: 5px;
  background: rgba(13, 71, 161, .9);
  color: white;
  max-width: 250px;
  text-align: center;
}
</style>
